/*
  => Estilo que será aplicado no elemento pai
     herdado pelos elementos filhos
*/
/* body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.itens {
  display: inline;
}

*/
/*
  Div => por padrão tem display block
*/

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #f2cbc226;
  padding: 20px;
}

h1 {
  font-size: 12;
  color: #73403C;
  text-decoration: underline #D9A79C;
  text-align: center;
}

h2 {
  color: #73403C;
  text-decoration: underline #D9A79C;
}

.item-box {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  display: block;
}

.box-block {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  box-shadow: 4px 5px 6px #f2cbc2;
}

.box-flex {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
}


.box-flex-direction-row {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-direction: row;
}

.box-flex-direction-row-reverse {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-direction: row-reverse;
}

.box-flex-direction-column {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-direction: column;
}

.box-flex-direction-column-reverse {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-direction: column-reverse;
}

.box-flex-flow-row-nowrap {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-flow: row nowrap;
}

.box-flex-flow-row-wrap {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-flow: row wrap;
}

.box-flex-flow-column-nowrap {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  flex-flow: column nowrap;
}

.box-justify-content-flex-start {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  justify-content: flex-start;
}

.box-justify-content-flex-end {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  justify-content: flex-end;
}

.box-justify-content-center {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  justify-content: center;
}

.box-justify-content-space-between {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  justify-content: space-between;
}


.box-justify-content-space-around {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  justify-content: space-around;
}

.box-align-items-stretch {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  text-align: center;
  display: flex;
  box-shadow: 4px 5px 6px #f2cbc2;
  align-items: stretch;
  flex-direction: column;
}